<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 
	public int rate(RateArticle rate);
	
	public int cancelRating(int articleId);
	
	public List<RateArticle> getListOfRating(int articleId);
	public List<RateArticle> getRateArticles();
	 -->
	
	

<mapper namespace = "com.whistle.web.dao.RateArticleDao">   <!--  인터페이스 -->
	

	<!-- email 이나 닉네임에 따른 id는 오버로드로 구현 -->
	
	
	
	<select id="getListOfRating" parameterType="int"  resultType="com.whistle.web.vo.RateArticle">
		SELECT * FROM RateArticle WHERE ArticleId = #{articleId, jdbcType=NUMERIC}
	</select>
	
	
	
	
	<insert id="rate" parameterType="com.whistle.web.vo.RateArticle">
	
	
		INSERT INTO RateArticle(
			Uid,
			ArticleId,
			IsGood
		)
		VALUES(
			#{uid, jdbcType=NUMERIC},
			#{articleId, jdbcType=NUMERIC},
			#{isGood, jdbcType=BOOLEAN}
		);
	</insert>
	
	
	<!--  cascade delte 구현 -->
	<delete id="cancelRating" parameterType="com.whistle.web.vo.RateArticle">
	
		DELETE RateArticle 
		WHERE ArticleId = #{articleId, jdbcType=NUMERIC}
		 AND   Uid = #{uid, jdbcType=NUMERIC}
		
		 
	</delete>


	<select id="getRateArticles" resultType="com.whistle.web.vo.RateArticle">
				SELECT * From RateArticle
	        
	</select>
	
	
</mapper>