<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- public Team getTeamById(String teamId);
	public List<Team> getTeamsWithOneColumn(String colum, String keyword);
	
	public int addTeam(Team newTeam);
	public int updateTeam(Team newTeam);
	public int delTeam(String teamId); -->
	



<mapper namespace = "com.whistle.web.dao.TeamDao">   <!--  인터페이스 -->
	

	<!-- email 이나 닉네임에 따른 id는 오버로드로 구현 -->
	<select id="getTeamById" parameterType="string" resultType="com.whistle.web.vo.Team">
	
		SELECT * FROM Teams WHERE TeamId = #{teamId}
		
	</select>
	
	
	<select id="getTeamsWithOneColumn" resultType="com.whistle.web.vo.Team">
	
		SELECT * FROM Teams WHERE ${param1} Like '%${param2}%'
		
	</select>
	

	
	<insert id="addTeam" parameterType="com.whistle.web.vo.Team">
	
		
		INSERT INTO Teams(
			TeamId,
			Name,
			SportsKind,
			RegionName,
			ColorRgb,
			EmblemUrl,
			SloganUrl,
	 		HistoryUrl,
			MembersUrl,
			MascotUrl,
			NewsUrl, 
			NewsUrlFake, 
			GuideUrl, 
			SeatsInfoUrl, 
			StadiumInsideUrl,
			StadiumOutsideUrl,
			LastCareer,
			TeamSiteUrl
		)
		VALUES(
			#{teamId},
			#{name},
			#{sportsKind},
			#{regionName},
			#{colorRgb},
			#{emblemUrl},
			#{sloganUrl},
	 		#{historyUrl},
			#{membersUrl},
			#{mascotUrl},
			#{newsUrl}, 
			#{newsUrlFake}, 
			#{guideUrl}, 
			#{seatsInfoUrl}, 
			#{stadiumInsideUrl},
			#{stadiumOutsideUrl},
			#{lastCareer},
			#{teamSiteUrl}
			
		)
		
	
	</insert>
	
	<update id="updateTeam" parameterType="com.whistle.web.vo.Team">
	
	
		Update Teams Set
			
			TeamId = #{teamId},
			Name = #{name},
			SportsKind = #{sportsKind},
			RegionName = #{regionName},
			ColorRgb = #{colorRgb},
			EmblemUrl = #{emblemUrl},
			SloganUrl = #{sloganUrl},
	 		HistoryUrl = #{historyUrl},
			MembersUrl = #{membersUrl},
			MascotUrl = #{mascotUrl},
			NewsUrl = #{newsUrl}, 
			NewsUrlFake =  #{newsUrlFake}, 
			GuideUrl = #{guideUrl}, 
			SeatsInfoUrl = #{seatsInfoUrl},  
			StadiumInsideUrl = #{stadiumInsideUrl},
			StadiumOutsideUrl = #{stadiumOutsideUrl},
			LastCareerUrl = #{lastCareerUrl},
			TeamSiteUrl = #{teamSiteUrl}
		
			
		WHERE TeamId = #{TeamId};
	
	
	</update>
	
	
	
	
	<delete id="dropTeam" parameterType="string">
	
		DELETE Teams WHERE TeamId = #{teamId}
		 
	</delete> 
	

	<update id="updateOneValue">
		UPDATE Teams
		SET
			${param2} = #{param3}
		 WHERE TeamId = #{param1}
	</update>

	<select id="getTeamsEmblemUrl" parameterType="string"  resultType="com.whistle.web.vo.Team">
	 	SELECT EmblemUrl FROM Teams WHERE SportsKind = #{sportsKind}
	</select>

	
</mapper>
