<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- public User getUserByName(String nicName);
	public User getUserByEmail(String email);
	public User getUserByIntId(int intId);
	
	
	public List<User> getUsers();
	
	
	
	public int regUser(User newUser);
	public int dropUser(User dUser); -->



<mapper namespace = "com.whistle.web.dao.UserDao">   <!--  인터페이스 -->
	

	<!-- email 이나 닉네임에 따른 id는 오버로드로 구현 -->
	<select id="getUserByName" parameterType="string" resultType="com.whistle.web.vo.User">
	
		SELECT * FROM Users WHERE Name = #{Name}
		
	</select>
	
	
	<select id="getUserByEmail" parameterType="string"  resultType="com.whistle.web.vo.User">
	
		SELECT * FROM Users WHERE Email = #{email}
		
	</select>
	
	<select id="getUserByUid" parameterType="String"  resultType="com.whistle.web.vo.User">
	
		<!--인자 String로 바꿔봄-->
		<!-- SELECT * FROM Users WHERE Uid = #{uid,jdbcType=NUMERIC} -->
		SELECT * FROM Users WHERE Identification = #{identification}
		
	</select>
	
	<select id="getUsers" resultType="com.whistle.web.vo.User">
	
		SELECT * FROM Users
		
	</select>
	
	
	<insert id="regUser" parameterType="com.whistle.web.vo.User">
	
		<selectKey keyProperty="uid" order="BEFORE" resultType="int">
				
			<!-- INT형이지만 DB에서는 TYPE이  String이라서 max 값을 제대로 가져오지 못함 -->	
			<!-- SELECT ISNULL(MAX(Uid), 0)+1 Uid FROM Users   -->
			
			select ISNULL(MAX(CONVERT(int,uid)),0)+1 uid from users
		
		</selectKey>
		
		INSERT INTO Users(
			Uid,
			Identification,
			Email,
			Pwd,
			Name,
			KakaoId,
			IsKakaoIdOpen,
			Address,
			MyTeam,
			Phone
		)
		VALUES(
			#{uid},
			#{identification},
			#{email},
			#{pwd},
			#{name},
			#{kakaoId},
			#{isKakaoIdOpen, jdbcType=BOOLEAN},
			#{address},
			#{myTeam},
			#{phone}
			
		)
		
	
	</insert>
	
	<delete id="dropUser" parameterType="com.whistle.web.vo.User">
	
		DELETE Users WHERE Email = #{email} AND Password = #{password}
		
		 
	</delete>
	
	
	

	
	
	
</mapper>